export GCP_PROJECT_ID="XXXXXXXXXXXXXXXXXXXXXXX"
export GKE_CLUSTER_REGION=us-central1-b
export K8S_ENDPOINT=XXXXXXXXXXXXX
export K8S_CA_DATA=XXXXXXXXXXXXXXXXXXXXX
export K8S_SA_TOKEN=XXXXXXXXXXXXXXXXXXXXX

export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_USER=user
export POSTGRES_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXX"

export AUTH_GITHUB_CLIENT_ID="XXXXXXXXXXXXXXXXXXXXXXX"
export AUTH_GITHUB_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXXXXX"
export AUTH_GOOGLE_CLIENT_ID="XXXXXXXXXXXXXXXXXXXXXXX"
export AUTH_GOOGLE_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXXXXX"

export  GITHUB_TOKEN="XXXXXXXXXXXXXXXXXXXXXXX"